torch = "*"
jax = "*"
jupyter = "*"
jupyter-client = "*"
jupyter-console = "*"
jupyter-core = "*"
jupyterlab-pygments = "*"
jupyterlab-widgets = "*"
nltk = "*"
numpy = "*"
pandas = "*"
scipy = "*"
sklearn = "*"
